<div
  class="flex flex-col h-screen bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 bg-no-repeat">
  <!--Title-->
  <h1 id="title" class="text-center italic text-7xl mt-20 bold">
    Minutnik.ino
  </h1>
  <!--Timer display-->
  <div class="my-auto">
    <p id="time" class="text-center text-5xl items-center">{{this.timeText}}</p>
  </div>

  <!--Time Buttons-->
  <section class="flex flex-row">
    <button
      class="font-semibold ml-5 py-2 text-2xl bg-violet-500 hover:bg-violet-400 w-1/3 text-center mx-auto"
      id=""
      (click)="removeTime()">
      -15s
    </button>
    <button
      class="mx-20 py-2 font-semibold text-2xl bg-violet-500 hover:bg-violet-400 w-1/3 text-center mx-auto"
      id=""
      (click)="resetTimer()">
      Reset
    </button>
    <button
      class="font-semibold mr-5 py-2 text-2xl bg-violet-500 hover:bg-violet-400 w-1/3 text-center mx-auto"
      id=""
      (click)="addTime()">
      +15s
    </button>
  </section>
  <!--Confirm Button-->
  <button
    class="px-4 py-2 mt-10 mb-20 font-semibold text-2xl bg-violet-500 hover:bg-violet-400 w-1/2 text-center mx-auto"
    id="confirm"
    (click)="post()">
    Confirm
  </button>

</div>